{% extends "mahasiswa.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chardet="UTF-8">
        <meta name="Viewport" content="width, initial-scale=1.0" />
        <title>selamat datang </title>
    </head>
    <body>
        <!-- awal pesanan-->
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Npm</th>
              <th scope="col">Nama</th>
              <th scope="col">Buku</th>
              <th scope="col">Lama Peminjaman</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2021020100049</td>
              <td>Ach. Nauval Azizi</td>
              <td>Novel</td>
              <td>3h</td>
            </tr>
            <tr>
                <td>2021020100049</td>
                <td>Ach. Nauval Azizi</td>
                <td>Novel</td>
                <td>3h</td>
            </tr>
            <tr>
                <td>2021020100049</td>
                <td>Ach. Nauval Azizi</td>
                <td>Novel</td>
                <td>3h</td>
            </tr>
            <tr>
                <td>2021020100049</td>
                <td>Ach. Nauval Azizi</td>
                <td>Novel</td>
                <td>3h</td>
            </tr>
            <tr>
                <td>2021020100049</td>
                <td>Ach. Nauval Azizi</td>
                <td>Novel</td>
                <td>3h</td>
            </tr>
            <tr>
                <td>2021020100049</td>
                <td>Ach. Nauval Azizi</td>
                <td>Novel</td>
                <td>3h</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- awal pesanan-->

    </body>
</html>
{% endblock content %}
